@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Epilogue';
		src: url('/fonts/Epilogue.woff2') format('woff2');
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'Epilogue';
		src: url('/fonts/Epilogue-Italic.woff2') format('woff2');
		font-weight: 100 900;
		font-display: swap;
		font-style: italic;
	}
	html,
	body {
		@apply selection:bg-yellow h-full w-full touch-manipulation overscroll-x-none bg-white font-sans font-medium antialiased;
	}
	body {
		@apply relative m-0 min-h-full text-sm text-black md:text-base;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
}
